# shipping-service/k8s/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: shipping-service
  namespace: ecommerce
spec:
  type: NodePort
  selector:
    app: shipping-service
  ports:
    - port: 8087
      targetPort: 8087
      nodePort: 30088

