# media-service/k8s/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: media-service
  namespace: ecommerce
spec:
  type: NodePort
  selector:
    app: media-service
  ports:
    - port: 8083
      targetPort: 8083
      nodePort: 30083

