# favourite-service/k8s/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: favourite-service
  namespace: ecommerce
spec:
  type: NodePort
  selector:
    app: favourite-service
  ports:
    - port: 8081
      targetPort: 8081
      nodePort: 30081

