# discovery-service/k8s/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: discovery-service
  namespace: ecommerce
spec:
  type: NodePort
  selector:
    app: discovery-service
  ports:
    - port: 8761
      targetPort: 8761
      nodePort: 30061

