apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: ayush/api-gateway:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: k8s
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: http://discovery-service.ecommerce.svc.cluster.local:8761/eureka
            - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
              value: kafka.ecommerce.svc.cluster.local:9092
            - name: ZIPKIN_BASE_URL
              value: http://zipkin.ecommerce.svc.cluster.local:9411

