# promotion-service/k8s/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: promotion-service
  namespace: ecommerce
spec:
  type: NodePort
  selector:
    app: promotion-service
  ports:
    - port: 8092
      targetPort: 8092
      nodePort: 30091

