apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: ecommerce
spec:
  type: NodePort
  selector:
    app: user-service
  ports:
    - port: 8088
      targetPort: 8088
      nodePort: 30089

